<%= simple_form_for @visit, url: home_visits_path do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :toilet, collection: [["yes", :toilet_yes],["no", :toilet_no],["n/a", :toilet_na]], as: :radio_buttons %>
    <%= f.input :tap, collection: [["yes", :tap_yes],["no", :tap_no],["n/a", :tap_na]], as: :radio_buttons %>
    <%= f.input :car, collection: [["Started", :car_start], ["Started and Moved", :car_move],["no", :car_no],["n/a", :car_na]], as: :radio_buttons %>
    <%= f.input :thermostat, collection: [["yes", :thermostat_yes],["no", :thermostat_no],["n/a", :thermostat_na]], as: :radio_buttons %>
    <%= f.input :walkaround, collection: [["yes", :walkaround_yes],["no", :walkaround_no],["n/a", :walkaround_na]], as: :radio_buttons %>
    <%= f.input :damage, collection: [["yes", :damage_yes],["no", :damage_no],["n/a", :damage_na]], as: :radio_buttons %>
    <%= f.input :note, as: :text %>
    <%= f.input :visittime %>
    <%= f.hidden_field :home_id, :value => @homeid %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<br><br>
<%=@home.inspect %>