<div class="container">
  <div class="row">
    <div class="col-xs-12">

<div class="page-header">
  <%= link_to new_home_visit_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Visit
  <% end %>
  <h1>Listing visits</h1>
</div>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Toilet</th>
            <th>Tap</th>
            <th>Car</th>
            <th>Thermostat</th>
            <th>Walkaround</th>
            <th>Damage</th>
            <th>Note</th>
            <th>Visittime</th>
            <th>Home</th>
            <th>User</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @visits) do |visit| %>
            <td><%= visit.toilet %></td>
            <td><%= visit.tap %></td>
            <td><%= visit.car %></td>
            <td><%= visit.thermostat %></td>
            <td><%= visit.walkaround %></td>
            <td><%= visit.damage %></td>
            <td><%= visit.note %></td>
            <td><%= visit.visittime %></td>
            <td><%= visit.home %></td>
            <td><%= visit.user %></td>
            <td><%= link_to 'Show', home_visit_path(visit.home_id, visit.id) %></td>
        <td><%= link_to 'Edit', edit_home_visit_path(visit.home_id, visit.id) %></td>
        <td><%= link_to 'Destroy', home_visit_path(visit.home_id, visit.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>


</div></div></div>
