<div class="page-header">
  <%= link_to home_visits_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_home_visit_path(@visit.home_id, @visit.id), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show visit</h1>
</div>

<dl class="dl-horizontal">
  <dt>Toilet:</dt>
  <dd><%= @visit.toilet %></dd>

  <dt>Tap:</dt>
  <dd><%= @visit.tap %></dd>

  <dt>Car:</dt>
  <dd><%= @visit.car %></dd>

  <dt>Thermostat:</dt>
  <dd><%= @visit.thermostat %></dd>

  <dt>Walkaround:</dt>
  <dd><%= @visit.walkaround %></dd>

  <dt>Damage:</dt>
  <dd><%= @visit.damage %></dd>

  <dt>Note:</dt>
  <dd><%= @visit.note %></dd>

  <dt>Visittime:</dt>
  <dd><%= @visit.visittime %></dd>

  <dt>Home:</dt>
  <dd><%= @visit.home.inspect %></dd>

  <dt>User:</dt>
  <dd><%= @visit.user.inspect %></dd>

</dl>
