<div class="container">
  <div class="row">
    <div class="col-sm-12">

<div class="alert alert-success" role="alert">
  <strong>Well done!</strong> You successfully read this important alert message.
</div>
<div class="alert alert-info" role="alert">
  <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
</div>
<div class="alert alert-warning" role="alert">
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>
<div class="alert alert-danger" role="alert">
  <strong>Oh snap!</strong> Change a few things up and try submitting again.
</div>


<br><br>
<%= current_user.inspect %>
<br>
<%= link_to "Login", new_user_session_path,	 class: "btn btn-primary" %>
</div></div></div>



<br><br>
<% if current_user.present? %>
<%= current_user.userlevel.inspect %>

<% end %>