<%= simple_form_for(@special) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :body, as: :text %>
    <%= f.association :home %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
