<div class="page-header">
  <%= link_to new_special_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Special
  <% end %>
  <h1>Listing specials</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Home</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @specials) do |special| %>
            <td><%= special.title %></td>
            <td><%= special.body %></td>
            <td><%= special.home %></td>
            <td><%= link_to 'Show', special %></td>
        <td><%= link_to 'Edit', edit_special_path(special) %></td>
        <td><%= link_to 'Destroy', special, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
