<div class="page-header">
  <%= link_to specials_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_special_path(@special), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show special</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @special.title %></dd>

  <dt>Body:</dt>
  <dd><%= @special.body %></dd>

  <dt>Home:</dt>
  <dd><%= @special.home %></dd>

</dl>
