<%= form_for(@home, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @home.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@home.errors.count, "error") %> prohibited this home from being saved:</h4>

      <ul>
      <% @home.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :user, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :user_id, value: current_user.id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :street, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :street, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :city, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :city, class: "form-control" %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :state, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :state, class: "form-control" %>
    </div>
  </div> 
  <div class="form-group">
    <%= f.label :zipcode, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :zipcode, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lat, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :lat, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lng, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :lng, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
