<div class="page-header">
  <%= link_to homes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_home_path(@home), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show home</h1>
</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @home.user.inspect %></dd>

  <dt>Street:</dt>
  <dd><%= @home.street %></dd>

  <dt>City:</dt>
  <dd><%= @home.city %></dd>

  <dt>State:</dt>
  <dd><%= @home.state %></dd>

  <dt>Zipcode:</dt>
  <dd><%= @home.zipcode %></dd>

  <dt>Lat:</dt>
  <dd><%= @home.lat %></dd>

  <dt>Lng:</dt>
  <dd><%= @home.lng %></dd>

</dl>
