customer dashboard
<br>
Welcome <%= @cuser.firstname %> <%= @cuser.lastname %>
<br>

<%= @homes.first.address %>

<hr />
<h3>Special Instructions</h3>
<% @special.each do |s| %>
	<%= s.title %>:
	<%= s.body %>
	<br>
<% end %>